.acco__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.acco__item {
  &.active > .acco__content {
    height: auto;
  }
}

.acco__content {
  height: 0;
  overflow: hidden;
}