.address {
  display: flex;
  flex-direction: column;
  @include montserrat();
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  color: $color-text-dark;

  &__location {
    margin-bottom: 8px;
  }

  &__location-link {
    display: flex;
    align-items: flex-start;

    &:before {
      content: '';
      height: 24px;
      width: 24px;
      background-image: url(images/icons/address.svg);
      background-size: cover;
      margin-right: 8px;
    }
  }

  &__link-text {
    flex: 1;
  }

  &__phone {
    margin-bottom: 8px;
  }

  &__phone-link {
    display: flex;
    align-items: center;

    &:before {
      content: '';
      height: 24px;
      width: 24px;
      background-image: url(images/icons/phone.svg);
      background-size: cover;
      margin-right: 8px;
    }
  }

  &__email {
    margin-bottom: 8px;
  }

  &__email-link {
    display: flex;
    align-items: center;

    &:before {
      content: '';
      height: 24px;
      width: 24px;
      background-image: url(images/icons/mail.svg);
      background-size: cover;
      margin-right: 8px;
    }
  }
}