.aside__box {
  position: absolute;
  top: 0;
  bottom: 0;
  max-width: 80px;
  width: 5vw;

  &_right {
    right: 0;
  }
}

.aside {
  position: fixed;
  top: 0;
  bottom: 0;
  max-width: 80px;
  width: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aside__container {
  max-width: 80px;
  width: 5vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

  &_scrollup, &_copyright {
    border-top: 1px solid $color-separator-line;
  }
}

.aside__link {
  position: relative;
  display: flex;
  content: '';
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-size: 24px 24px;

  &_menu {
    background-image: url(images/icons/menu.svg);
  }

  &_cross {
    background-image: url(images/icons/cross.svg);
    display: none;
  }

  &_scrollup {
    background-image: url(images/icons/arrow.svg);
  }

  &_search {
    background-image: url(images/icons/search.svg);
  }

  &_copyright {
    background-image: url(images/icons/copyright.svg);
  }

  &_login {
    width: 40px;
  }
}

.aside__socials {
  flex: 1;
  display: flex;
  justify-content: center;
  writing-mode: tb-rl;
  padding-right: 16px;
  font-size: 10px;
  line-height: 20px;
  color: $color-text-dark;
  font-weight: 600;
}

.aside__socials-link {
  margin-bottom: 16px;
}

.aside__login-img-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.aside__login-img {
  height: 100%;
  width: 100%;
}