.aside__box {
  position: absolute;
  top: 0;
  bottom: 0;
  max-width: $pt80;
  width: 5vw;

  &_right {
    right: 0;
  }
}

.aside {
  position: fixed;
  top: 0;
  bottom: 0;
  max-width: $pt80;
  width: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aside__container {
  max-width: $pt80;
  width: 5vw;
  height: $pt80;
  display: flex;
  justify-content: center;
  align-items: center;

  &_scrollup, &_copyright {
    border-top: 1px solid $color-separator-line;
  }
}

.aside__link {
  position: relative;
  display: flex;
  content: '';
  height: $pt24;
  width: $pt24;
  background-repeat: no-repeat;
  background-size: $pt24 $pt24;

  &_menu {
    background-image: url(images/icons/menu.svg);
  }

  &_scrollup {
    background-image: url(images/icons/arrow.svg);
  }

  &_search {
    background-image: url(images/icons/search.svg);
  }

  &_copyright {
    background-image: url(images/icons/copyright.svg);
  }

  &_login {
    width: $pt40;
  }
}

.aside__socials {
  flex: 1;
  display: flex;
  justify-content: center;
  writing-mode: tb-rl;
  padding-right: $pt16;
  font-size: 10px;
  line-height: 20px;
  color: $color-text-dark;
  font-weight: 600;
}

.aside__socials-link {
  margin-bottom: $pt16;
}

.aside__login-img-container {
  width: $pt40;
  height: $pt40;
  border-radius: 50%;
  overflow: hidden;
}

.aside__login-img {
  height: 100%;
  width: 100%;
}