.blog {
  display: flex;
  justify-content: space-between;
  padding-top: 72px;
  padding-bottom: 64px;
  padding-left: 80px;
  padding-right: 80px;
  border-bottom: 1px solid $color-separator-line;

  &_aside {
    width: $column;

    @include laptop() {
      width: $tabletsColumn;
    }

    @include tablets() {
      width: $phonesColumn;
    }
  }
  
  @include laptop() {
    flex-direction: column;
    align-items: center;
  }

  &__main{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: $column2;

    @include laptop() {
      width: $phonesColumn;
      margin-bottom: 32px;
    }
  }

  &__title {
    margin-bottom: 32px;
  }

  &__author-container {
    margin-bottom: 40px;
  }

  &__content-container {
    @include lora();
    font-weight: 400;

    & p {
      margin-bottom: 32px;
    }

    & li {
      padding-left: 72px;
      margin-bottom: 32px;
      position: relative;
    }

    & li:before {
      content: '';
      position: absolute;
      height: 5px;
      width: 5px;
      border-radius: 50%;
      background-color: $color-magenta;
      top: 48%;
      left: 32px
    }

    & h2 {
      margin-top: 40px;
      letter-spacing: 0;
      line-height: 32px;
      @include montserrat();
      font-weight: 800;
      margin-bottom: 32px;
    }
  }

  &__load-more-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}