.caption {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-top: $pt136;
  padding-bottom: $pt136;
}

.caption__title-container {
  width: 50%;
  margin-bottom: $pt40;
}

.caption__button {
  padding: $pt16 $pt32;
  border-radius: 1px;
  box-shadow: 0 8px 24px rgba(57,96,204,0.48);
  background-color: white;
  color: $color-magenta;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: $pt16;
}

.caption__tip {
  font-size: 12px;
  color: $color-text-dark-opacity;
  font-weight: 400;
}