.container {
  margin: 0 auto;
  position: relative;
  max-width: 1280px;
  width: 90%;
  display: flex;
  flex-direction: column;
  background-image: url(images/bg/mountains.jpg);
  background-position: top;
  background-repeat: no-repeat;
  overflow: hidden;
  border-left: 1px solid $color-separator-line;
  border-right: 1px solid $color-separator-line;
}