.feedback {
  flex-direction: column;
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: $column2;
  }

  &__caption-container {
    text-align: center;
    margin-bottom: 32px;
  }

  &__title-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 32px;
  }

  &__form-container {
    display: flex;
    justify-content: center;
  }
}