.feedback {
  flex-direction: column;
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-container {
  width: $column2;
}

.feedback__caption-container {
  text-align: center;
  margin-bottom: 32px;
}

.feedback__title-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 32px;
}

.feedback__form-container {
  display: flex;
  justify-content: center;
}