.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 72px;
  border-top: 1px solid $color-separator-line;
  font-size: 12px;
  line-height: 24px;
  color: $color-text-dark;
  font-weight: 600;
}

.footer__left-column {
  display: flex;
  flex: 1;
  padding-left: 80px;
}

.footer__menu-list {
  display: flex;
  flex-wrap: wrap;
}

.footer__menu-item {
  width: 50%;
  margin-bottom: 8px;
}

.footer__right-column {
  display: flex;
  justify-content: center;
  flex: 1;
}

.footer__logo-container {
  margin-right: 80px;
}