.footer {
  display: flex;
  justify-content: space-between;
  padding: 64px 72px 72px;
  border-top: 1px solid $color-separator-line;
  font-size: 12px;
  line-height: 24px;
  color: $color-text-dark;
  font-weight: 600;
  
  @include phones() {
    padding-left: 72px;
    padding-right: 72px;
    flex-direction: column;
  }

  &__left-column {
    display: flex;
    flex: 1;

    @include tablets() {
      padding-left: 0;
      margin-bottom: 24px;
    }
  }

  &__logo-container {
    @include tablets() {
      display: none;
    }
  }

  &__menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__menu-item {
    width: 50%;
    margin-bottom: 8px;
    text-align: center;

    @include phones() {
      width: $column;
    }
  }

  &__right-column {
    display: flex;
    justify-content: center;
    flex: 1;
  }

  &__logo-container {
    margin-right: 80px;
  }
}