.form {
  flex-direction: column;
  align-items: center;
  width: 352px;
}

.form__input-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.form__input-container {
  margin-bottom: $pt24;
}

.form__input_text {
  padding: 26px $pt24 20px;
  height: 24px;
  font-size: 12px;
  color: $color-text-dark;
  font-weight: 600;
  outline: none;
  border: 1px solid $color-separator-line;
  width: 100%;

  &:focus {
    border: 1px solid $color-magenta;
  }
}

.form__input-error-container {
  display: none;
  position: absolute;
  top: 50%;
  right: -216px;
  width: 200px;
  border-radius: 1px;
  box-shadow: 0 8px 24px rgba(57, 96, 204, 0.48);
  background-color: white;
  padding: $pt8;
  font-size: 10px;
  line-height: 12px;
  color: $color-text-dark;
  font-weight: 600;
  height: $pt40;
  transform: translateY(-20px);

  &.form__input-error-container_show {
    display: block;
  }

  &:before {
    content: '';
    position: absolute;
    height: 6px;
    width: 6px;
    background-color: white;
    left: -3px;
    top: 50%;
    transform: translateY(-3px) rotate(45deg);
  }
}

.form__input-error {
  display: flex;
  align-items: center;

  &:before {
    content: '';
    height: 24px;
    width: 24px;
    background-image: url(images/icons/error.svg);
    margin-right: $pt8;
    transform: translateY(-2px);
  }
}

.form__input-checkbox-label {
  font-size: 12px;
  color: $color-text-dark;
  font-weight: 600;
}

.form__input_submit {
  vertical-align: center;
  padding: 10px $pt24 12px $pt72;
  outline: none;
  border: 1px solid $color-separator-line;
  text-align: left;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  color: $color-magenta;
  font-weight: 600;
  background-color: white;
  border-radius: 1px;
  box-shadow: 0 8px 36px rgba(57,96,204,0.48);
}