.form {
  flex-direction: column;
  align-items: center;
  width: 42%;
  max-width: 352px;
  min-width: 200px;
}

.form__input-container {
  display: flex;
  justify-content: center;
  position: relative;
  
  &_new-section {
    margin-top: 40px;
  }
  
  &_submit-sextion {
    margin-top: 32px;
  }
}

.form__input-container {
  margin-bottom: 24px;
}

.form__input_text {
  padding: 26px 24px 20px;
  height: 24px;
  font-size: 12px;
  color: $color-text-dark;
  font-weight: 600;
  outline: none;
  border: 1px solid $color-separator-line;
  width: 100%;
  caret-color: $color-magenta;

  &::-webkit-input-placeholder { /* Chrome */
    color: $color-text-dark-opacity;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $color-text-dark-opacity;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $color-text-dark-opacity;
    opacity: 1;
  }
  &:-moz-placeholder { /* Firefox 4 - 18 */
    color: $color-text-dark-opacity;
    opacity: 1;
  }
}

.form__error {
  border: 1px solid $color-magenta;
}

.form__input-error-container {
  display: none;
  position: absolute;
  top: 50%;
  right: -216px;
  width: 200px;
  border-radius: 1px;
  box-shadow: 0 8px 24px rgba(57, 96, 204, 0.48);
  background-color: white;
  padding: 8px;
  font-size: 10px;
  line-height: 12px;
  color: $color-text-dark;
  font-weight: 600;
  height: 40px;
  transform: translateY(-20px);

  &.form__input-error-container_show {
    display: block;
  }

  &:before {
    content: '';
    position: absolute;
    height: 6px;
    width: 6px;
    background-color: white;
    left: -3px;
    top: 50%;
    transform: translateY(-3px) rotate(45deg);
  }
}

.form__input-error {
  display: flex;
  align-items: center;

  &:before {
    content: '';
    height: 24px;
    width: 24px;
    background-image: url(images/icons/error.svg);
    margin-right: 8px;
    transform: translateY(-2px);
  }
}

.form__input-checkbox-label {
  font-size: 12px;
  color: $color-text-dark;
  font-weight: 600;
}

.form__input_submit {
  vertical-align: center;
  padding: 10px 24px 12px 72px;
  outline: none;
  border: 1px solid $color-separator-line;
  text-align: left;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  color: $color-magenta;
  font-weight: 600;
  background-color: white;
  border-radius: 1px;
  box-shadow: 0 8px 36px rgba(57, 96, 204, 0.48);
}

.form__input_checkbox {
  position: relative;
  opacity: 0;
  margin-right: 16px;
}

.form__input-checkbox-label {
  padding-left: 8px;

  &:before {
    content: '';
    width: 18px;
    height: 18px;
    background-color: $color-magenta;
    background-image: url(images/icons/checked.svg);
    margin-right: 8px;
    transform: translateY(-2px);
    position: absolute;
    top: 6px;
    left: 2px;
  }

}

.form__input_checkbox:checked ~ .form__input-checkbox-label {
  &:before {
    background-color: white;
    transition: 0.2s;
  }
}

.form__select {
  padding: 12px 24px 10px;
  font-size: 12px;
  font-weight: 600;
  outline: none;
  border: 1px solid $color-separator-line;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none!important;
  background: url(images/icons/arrow-down.svg) no-repeat 96% 50%;
  cursor: pointer;
  @include montserrat();
  line-height: 24px;
  color: $color-text-dark-opacity;
}