.load-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 32px;
  border: 1px solid $color-separator-line;
  @include montserrat();
  font-weight: 600;
  position: relative;

  &:before {
    content: '';
    position: relative;
    height: 24px;
    width: 24px;
    background-image: url(images/icons/update.svg);
    background-size: cover;
    margin-right: 8px;
  }
}