.logo {
  display: flex;
  font-size: 16px;
  line-height: 24px;
  color: $color-text-dark;
  @include montserrat();
  font-weight: 600;
}

.header__logo-container {
  padding-right: $pt64;
}

.logo__img-container {
  width: 24px;
  height: 24px;
}

.logo__img-container {
  margin-right: $pt8;
}

.logo__text-container {
  font-weight: 600;
}