.logo {
  display: flex;
  font-size: 16px;
  line-height: 24px;
  color: $color-text-dark;
  @include montserrat();
  font-weight: 600;

  &__img-container {
    width: 24px;
    height: 24px;
  }

  &__img-container {
    margin-right: 8px;
  }

  &__text-container {
    font-weight: 600;
    flex: 1;
  }
}