.main-menu {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
  z-index: 1000;
  border-right: 1px solid $color-separator-line;
  border-left: 1px solid $color-separator-line;

  &__container {
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__main-column {
    width: 60%;
    padding: 80px 32px;
    border-right: 1px solid $color-separator-line;

    @include laptop() {
      width: 50%;
    }
  }

  &__greater-points {
    font-size: 40px;
    letter-spacing: 0;
    line-height: 48px;
    color: $color-text-dark;
    font-weight: 800;
    margin-bottom: 36px;
  }

  &__greater-point {
    margin-bottom: 8px;
  }

  &__standart-points {
    font-size: 12px;
    line-height: 24px;
    color: $color-text-dark;
    font-weight: 600;

  }

  &__standart-point {
    &_pink {
      color: $color-magenta;
    }
  }

  &__info-column {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;

    @include laptop() {
      width: 50%;
    }
  }

  &__logo-container {
    margin-bottom: 32px;
  }

  &__caption-title {
    margin-bottom: 32px;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 32px;
    color: $color-text-dark;
    font-weight: 800;
  }

  &__caption-content {
    font-size: 16px;
    line-height: 24px;
    color: $color-text-dark;
    @include lora();
    font-weight: 400;

    @include laptop() {
      margin-bottom: 48px;
    }
  }
}