.menu__list {
  display: flex;
  line-height: 24px;
  font-weight: 600;
  flex-wrap: wrap;
  
  @include tablets() {
    display: none;
  }

  &__item {
    position: relative;
    margin-left: 64px;

    &__item_new:before {
      content: 'New';
      position: absolute;
      top: -4px;
      right: -32px;
      font-size: 8px;
      letter-spacing: 0;
      line-height: 10px;
      color: white;
      font-weight: 600;
      background-color: $color-magenta;
      width: 28px;
      height: 16px;
      border-radius: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}