.pic-preview {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.pic-preview__caption {
  position: absolute;
  left: 24px;
  bottom: 32px;
}

.pic-preview__title {
  color: white;
  font-weight: 600;
}

.pic-preview__img-container {
  height: auto;
}

.pic-preview__img {
  width: 100%;
}
