.pic-preview {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  &__caption {
    position: absolute;
    left: 24px;
    right: 24px;
    bottom: 32px;
    overflow: hidden;
    max-height: 100%;
  }

  &__title {
    color: white;
    font-weight: 600;
  }

  &__img-container {
    height: auto;
    overflow: hidden;
  }

  &__img {
    width: 100%;
  }
}
