.posts {
  padding-bottom: 64px;
}

.posts__container {
  margin-bottom: 40px;
}

.posts__list {
  display: flex;
  justify-content: space-between;
}

.posts__item {
  width: $column;
}

.posts__img-container {
  border-radius: 2px;
  box-shadow: 0 8px 24px rgba(57,96,204,0.48);
  height: auto;
  margin-bottom: 8px;
}

.posts__img {
    display: block;
    margin: 0;
    width: 100%;
}