.slider {
  position: relative;
  border-top: 1px solid $color-separator-line;
  border-bottom: 1px solid $color-separator-line;
  height: 512px;
}

.slider__buttons-container {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 288px;
  z-index: 100;
}

.slider__button {
  width: 72px;
  height: 72px;
  background-color: white;
  background-image: url(images/icons/arrow-left.svg);
  background-position: center;
  background-repeat: no-repeat;
  left: 50%;
  border: 1px solid $color-separator-line;
  
  &_right {
    transform: rotate(180deg);
  }
}

.slider__preview {
  position: absolute;
  width: 288px;
  height: 152px;
  bottom: 0;
  right: 0;
  background-color: white;
}

.slider__slide-container {
  position: relative;
  height: 100%;
}

.slider__caption-container {
  position: absolute;
  bottom: 32px;
  left: 80px;
}

.slider__title {
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
  color: $color-text-light;
  font-weight: 800;
  text-transform: capitalize;
  width: 50%;
}