html {
  font-size: 64px;
  
  @include tablets() {
    font-size: 56px;
  }
  
  @include phones() {
    font-size: 48px;
  }
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  @include montserrat();
  font-size: 16px;
  line-height: 24px;
  color: $color-text-dark;
}

// tag styles reset
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  padding: 0;
  margin: 0;

  & > li {
    list-style: none;
  }
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
}

img {
  max-width: 100%;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

input[type='submit'], input[type='checkbox'], label {
  cursor: pointer;
}