//colors
$color-separator-line: #e1e2eb;
$color-text-dark: #373b52;
$color-text-dark-opacity: #9a9eb7;
$color-text-light-opacity: #f5f5fa;
$color-text-light: #f5f5fa;
$color-magenta: #f51d57;

//sizes
$column: 32%;
$column2: 66%;
$tabletsColumn: 49%;
$phonesColumn: 100%;

// resolutions
$phones: 480px;
$tablets: 768px;
$laptop: 992px;

// setups
@import "misc/media";
@import "misc/fonts";
@import "misc/layout";

// blocks
@import "blocks/overlay";
@import "blocks/aside";
@import "blocks/container";
@import "blocks/main-menu";
@import "blocks/main-container";
@import "blocks/icon";
@import "blocks/logo";
@import "blocks/language";
@import "blocks/datetime";
@import "blocks/article-title";
@import "blocks/article-preview";
@import "blocks/wrapper";
@import "blocks/header";
@import "blocks/menu";
@import "blocks/title";
@import "blocks/caption";
@import "blocks/button";
@import "blocks/posts";
@import "blocks/popular";
@import "blocks/tabs";
@import "blocks/slider";
@import "blocks/blog";
@import "blocks/author";
@import "blocks/acco";
@import "blocks/pic-preview";
@import "blocks/feedback";
@import "blocks/form";
@import "blocks/footer";
@import "blocks/address";
